<nav class="nav"><h2 class="heading">Sign up</h2></nav>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name,
    class: "text_input2",
    placeholder: "Name"  %>
  </div>

  <div class="field">
    <%= f.email_field :email, 
    class: "text_input1",
    placeholder: "Email" , required: true, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, class: "text_input1",
    placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class: "text_input1", placeholder: "Password confirmation", autocomplete: "new-password" %>
  </div>

  <div class="submit1">
    <%= f.submit "Sign up", data: { turbo: false}, class: "submit_button" %>
  </div>
<% end %>

<%= render "devise/shared/links"%>
