<div>
  <h1>CATEGORIES</h1>
  <ul>
    <% @groups.each do |group| %>
        <div class="group_container">
          <%=link_to group_purchases_path(group_id: group.id) do %>
            <span class="iconify" data-icon="<%= group.icon %>" data-width="70" data-height="55"></span>
            <%= group.name%>
          <% end %>
        </div>
        <br>
        <br>
    <% end %>
  </ul>
  <%= link_to 'Sign out', '/users/sign_out', :method => :delete %>
  <%= link_to 'Add new category', new_group_path%>
</div>