<div>
  <nav class="nav">
    <%= link_to root_path, :class => "backarrow" do %>
      <i class="fa-solid fa-angles-left"></i>
    <% end %>
    <h1 class="heading">CATEGORIES</h1>
  </nav>
  <div class="login">
    <div class="groups">
      <% @groups.each do |group| %>
          <%=link_to group_purchases_path(group_id: group.id), class: 'group-link' do %>
            <div class="group_container">
              <div><span class="iconify" data-icon="<%= group.icon %>" data-width="80" data-height="65"></span></div>
              <div class="name"><%= group.name%></div>
              <div class="total"><p>$0</p></div>
            </div>
          <% end %>
        <br>
        <br>
      <% end %>
    </div>
      <div class="submit1">
        <%= link_to 'NEW CATEGORY', new_group_path, class: "submit_button"%><br>
      </div>
      <div class="new">
        <div class="login-links share out">
          <%= link_to 'SIGN OUT', '/users/sign_out', :method => :delete %>
        </div>
      </div>
  </div>
</div>