<%= form_with model: @group, class: "form" do |form| %>
  <%= link_to '<', groups_path, class: 'link'%>
  <h2 class="form_title">Add a category</h2>
  <section class="form-section">
    <p class="input-text"><%= form.label :name %>:</p>
    <%= form.text_field :name,
    class: "text_input",
    placeholder: "Write your category here" %>
  </section>

  <section class="form-section">
    <p class="input-text"><%= form.label :icon, 'Select icon' %>:</p>
    <%# <%= form.select :icon,
    class: "text_input",
    placeholder: "Select an icon..." %>
    <%= form.select :icon, ['logos:netflix-icon', 'maki:gaming'], value: @group.icon, required: true %>
  </section>

  <section class="form-section">
    <%= form.submit "Save", class: "submit_button" %>
  </section>
<% end %>