<nav class="nav">
  <%= link_to groups_path, :class => "backarrow" do %>
    <i class="fa-solid fa-angles-left"></i>
  <% end %>
  <h2 class="heading">ADD A CATEGORY</h2>
</nav>
<div class="login">
  <%= form_with model: @group, class: "form" do |form| %>
    <section class="form-section text-input2">
      <%= form.text_field :name,
      class: "text_input",
      placeholder: "Name" %>
    </section>

    <section class="form-section text-input1 icons">
      <%= form.select :icon, ['Select icon', 'logos:netflix-icon', 'maki:gaming', 'emojione:hospital', 'ic:outline-menu-book', 'ic:outline-facebook', 'ic:round-laptop-chromebook', 'ic:round-library-music', 'ic:baseline-queue-music', 'emojione:shopping-bags', 'emojione-v1:shopping-bags', 'noto:shopping-cart', 'fa6-solid:gifts', 'ion:restaurant-sharp', 'emojione:high-speed-train', 'raphael:plane'], value: @group.icon, required: true %>
    </section>

    <section class="form-section">
      <div class="submit submit1">
        <%= form.submit "SAVE", class: "submit_button" %>
      </div>
    </section>
  <% end %>
</div>