<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "splash.css" %>
  </head>
  <body class="home-body">
    <%= image_tag ("Screenshot from 2022-08-03 02-49-04.png"), class: "home-image" %>
    <nav>
      <% if current_user %>
        <p>Hello <%=current_user.email %></p>
        <%=link_to "Sign Out Data Turbo Delete", destroy_user_session_path, 'data-turbo-method': :delete%>
      <% else %>
        <%=link_to "Sign Up", new_user_registration_path %>
        <%=link_to "Sign In", new_user_session_path %>
      <%end%>
    </nav>
  </body>
</html>
