<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "splash.css" %>
  </head>
  <body class="home-body">
    <%= image_tag ("Screenshot from 2022-08-03 02-49-04.png"), class: "home-image" %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to 'Sign out', '/users/sign_out', :method => :delete %>
  </body>
</html>
